.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.review {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 470px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 0px 10px 0px 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(197, 197, 197, 0.5);
}
.review .book-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.review .book-image img {
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.review .book-review {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.review .book-review .title {
  font-size: 21px !important;
  font-weight: 700;
}
.review .book-review button {
  width: 170px;
  height: 40px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: 1px rgb(114, 114, 114) solid;
  padding: 3px;
}
.review .book-review button:hover {
  background-color: var(--blue);
  transition: 0.3s ease-in-out;
  transform: translateY(-2px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: white;
}
.review-buttons {
  display: flex;
  justify-content: space-between;
}
.delete-review {
  background-color: aliceblue;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}
.delete-review:hover {
  background-color: rgb(216, 216, 216);
}
.rating {
  display: flex;
  align-items: center;
}
.your-reviews{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.reviews{
  display: flex;
  flex-direction: column;
  margin: 20px 200px;
  justify-content: center;
}

.pagination-box {
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.pagination p {
  margin: 0px 20px;
}
.pagination button {
  padding: 5px;
}
